<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @occasion.name %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @occasion.prix %>
</p>

<p>
  <strong>Description:</strong>
  <%= @occasion.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @occasion.photo %>
</p>

<p>
  <strong>User:</strong>
  <%= @occasion.user %>
</p>

<%= link_to 'Edit', edit_occasion_path(@occasion) %> |
<%= link_to 'Back', occasions_path %>
